Client/public/logo192.png
Client/public/logo512.png
Server/ServerFleetApi/ServerFleetApi/obj/
Server/ServerFleetApi/ServerFleetApi/bin/
Server/ServerFleetApi/ServerFleet.Services/obj/
Server/ServerFleetApi/ServerFleet.Models/bin/
Server/ServerFleetApi/ServerFleet.Models/obj/
Server/ServerFleetApi/.vs/
Server/ServerFleetApi/ServerFleet.Services/bin/
